.page_0{
    display: block;
}

.page_0
.page_0_button_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}